<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h2>Sign Up</h2>
    <form action="/signup">
        <label>SignUp</label>
        <button>signup</button>
    </form>

    <h2>Already a member login</h2>
    <form action="/login">
        <label>Login</label>
        <button>login</button>
    </form>
</body>
</html>