<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
  </head>
  <body>
    <h3>URL Shortener</h1>

    <% if (locals.id) { %>
    <p><h3 style="display: inline-block">Short-Id Generated:</h3> <%= id %></p>
    <% } %>

    <div>
      <form method="POST" action="/url">
        <label>Enter Your Original URL</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <br>
    <h4 style="display: inline">See All URLs</h4>
    <form action="/url/urls">
      <button>check</button>
    </form>
    <br>
    <h4 style="display: inline">Use Another Account</h4><br>
    <form action="/login">
      <button>login</button>
    </form>
  </body>
</html>
