<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
</head>
<body>
    <h2>Sign UP</h2>

    <form action="/user/signup" method="post">
        <label>Name</label>
        <input type="text" name="name" placeholder="enter name">
        <br>
        <label>Email</label>
        <input type="text" name="email" placeholder="enter email">
        <br>
        <label>Password</label>
        <input type="text" name="password" placeholder="enter password">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>