<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>All URLs</h3>

    <table>
        <thead>
            <tr>
                <th>Sr.</th>
                <th>Short-Id</th>
                <th>Redirect-URL</th>
            </tr>
        </thead>
        <tbody>
            <% urls.forEach(url => { %>
             <tr>
                <th><%= ++count %></th>
                <th><%= url.shortId %></th>
                <th><%= url.redirectURL %></th>
             </tr>
            <% }) %>
        </tbody>

    </table>
</body>
</html>